{% extends "base.html" %}

{% block content %}
{#    {% load my_tags %}#}
{#    {% multi_tag 3 9 %}#}
    <div class="article_info">
        <h3 class="text-center title">{{ article_obj.title }}</h3>  //文章标题 
    　　 <div class="cont"> //文章内容 
       　　{{ article_obj.content |safe }} {# 加这个是为了告诉django的模板不要给我做任何转义，为了安全性#}
    　　</div>
    　　<div id="div_digg" > //点赞 ,这一套点赞，再给它们加上样式
        　　<div class="diggit action"> //点赞，
            　　<span class="diggnum" id="digg_count">{{article_obj.up_count}}</span> //不要把点赞数写成1，这样就写死了
        　　</div>
        　　<div class="buryit action"> //踩灭；要给点赞和踩灭同时绑定ajax，同时起个名字action
            　　<span class="burynum" id="bury_count">{{article_obj.down_count}}</span>
        　　</div>
        　　<div class="clear"></div>
        　　<div class="diggword" id="digg_tips" style="color:red;"></div>
    　　</div>　　</div>
    <script>
        $("#div_digg .action").click(function(){
            var is_up = $(this).hasClass("diggit");  //怎么写，点击 diggit action的时候是True；点击 buryit action的时候是False。判断它们的class值
            alert(is_up)
        })
    </script>

{% endblock %}
<script>
        $("#div_digg .action").click(function(){
            var is_up = $(this).hasClass("diggit");
            $.ajax({
                url:"/digg/", #构建路径，加上路径路由
                type:"post",
                data:{ //作为键，一组键值。
                    "csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val(),
                    "is_up":is_up,
                    "article_id":"{{ article_obj.pk }}",  //没必要把user传进来，在视图中我们用的是用户认证登录组件，直接对应的是request.user就是当前登录人，其实就是当前点赞人和登录人。根本没必要传在session里边就取出来了。
                },
                success: function (data) {
                    console.log(data);
                }
            })
        })
    </script>
