.article_info .title{
    margin-bottom: 20px;
}

#div_digg {  //父亲的
    float: right;
    margin-bottom: 10px;
    margin-right: 30px;
    font-size: 12px;
    width: 125px;
    text-align: center;
    margin-top: 10px;
}
.diggit { //推荐的 
    float: left;
    width: 46px;
    height: 52px;
    background: url("/static/font/upup.gif") no-repeat;  //把图片的静态文件下载到本地，博客它做反爬虫了
    text-align: center;
    cursor: pointer;
    margin-top: 2px;
    padding-top: 5px;
}
.buryit {  //反对的 
    float: right;
    margin-left: 20px;
    width: 46px;
    height: 52px;
    background: url("/static/font/downdown.gif") no-repeat;
    text-align: center;
    cursor: pointer;
    margin-top: 2px;
    padding-top: 5px;
}
.clear {
    clear: both;  //清除浮动
}
