{% if site.gitalk %}
<div class="comments">
    <div id="gitalk-container"></div>
    <script>
        const gitalk = new Gitalk({
          clientID: 'ba30683739f8fa9d2578',
          clientSecret: 'd2f5d4f6fcb4c6bf21d874ac87a0c4e3b96548fe',
          repo: 'Leaovo-man2.github.io',
          owner: 'Leaovo-man2',
          admin: ['Leaovo-man2'],
          id: window.location.pathname,      // Ensure uniqueness and length less than 50
          distractionFreeMode: false,  // Facebook-like distraction free mode
          title: "{{ page.title }}",
          language: "zh-CN",

        })
        
        gitalk.render('gitalk-container')
    </script>
</div>
{% endif %}
