{% if site.gitalk %}
<div class="comments">
    <div id="gitalk-container"></div>
    <script>
        const gitalk = new Gitalk({
          clientID: '4f186e62707e9aea860f',
          clientSecret: 'a8c2747c7f42a55c3e99375f5561d927fcdc973b',
          repo: 'blog_comments',
          owner: 'Leaovo-man2',
          admin: ['Leaovo-man2'],
          id: window.location.pathname,      // Ensure uniqueness and length less than 50
          distractionFreeMode: false,  // Facebook-like distraction free mode
          title: "{{ page.title }}",
          language: "zh-CN",

        })
        
        gitalk.render('gitalk-container')
    </script>
</div>
{% endif %}
