---
layout: default
---
[...document.getElementsByTagName("pre")].forEach(item => {
        item.style.position = "relative";
        let copyButton = document.createElement("button")
        copyButton.style.cssText = 'border-radius: 4px;position:absolute;right:10px;top:10px;cursor: pointer'
        copyButton.innerHTML = "复制";
        copyButton.onclick = function () {
            let copyData = item.firstChild.innerText
            copyToClipboard(copyData)
            copyButton.innerHTML = "复制成功";
            setTimeout(function() {
                copyButton.innerHTML = "复制";
            }, 1000);
        }
        item.appendChild(copyButton)
});
// js 复制到剪贴板
function copyToClipboard(content) {
    if (window.clipboardData) {
        window.clipboardData.setData('text', content);
    } else {
        (function (content) {
            document.oncopy = function (e) {
                e.clipboardData.setData('text', content);
                e.preventDefault();
                document.oncopy = null;
            }
        })(content);
        document.execCommand('Copy');
    }
}

<article class="posts">
  
  <h1>{{ page.title }}</h1>

  <div clsss="meta">
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
  {% include gitalk.html %}
</article>

<div class="pagination">
  {% if page.previous.url %}
    <span class="prev" >
      <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
        ← 上一篇
      </a>
    </span>
  {% endif %}
  {% if page.next.url %}
    <span class="next" >
      <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
        下一篇 →
      </a>
    </span>
  {% endif %}
</div>
